<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="staticBackdropLabel">Cinsiyet Seçiniz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZoHj685ghlyISu0Dt8qvGr60fLDwsIpXqpw&usqp=CAU" width="150" height="150" class="d-block" />
                            <button class="btn btn-outline-primary" type="submit" value="Kadın" name="gender">Kadın</button>
                    </div>
                    <div class="col-md-6">
                            <img src="https://img3.stockfresh.com/files/r/robuart/m/72/9104755_stock-vector-boy-avatar-in-round-web-button-isolated-on-white.jpg" width="150" height="150" class="d-block" />
                            <button class="btn btn-outline-primary" type="submit" value="Erkek" name="gender">Erkek</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>